%nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
  = link_to 'Library', root_path, class: 'navbar-brand dec-none'
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.w-100
      %li.nav-item.ml-auto
        %a.nav-link.dec-none
          Some


